In [ ]:
!pip install researchpy

In [3]:
import researchpy as rp
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind
import math

In [4]:
#no 1
muss = pd.read_clipboard()
muss

    Penderita
0          24
1          19
2          25
3          22
4          29
5          30
6          21
7          26
8          35
9          27
10         24
11         17
12         23
13         28
14         25

In [18]:
stats.ttest_1samp(muss, 25, alternative = 'greater')

TtestResult(statistic=array([0.]), pvalue=array([0.5]), df=array([14]))

In [5]:
#no 2
Xbar = 33.44
Miu = 33.5
Sd = 6.44
n = 51

z = (Xbar - Miu)/(Sd/math.sqrt(n))
z

-0.06653504747089864

In [6]:
#Nilai Pvalue
stats.norm.cdf(z)

0.47347592783553116

In [7]:
#no 3
mus3 = pd.read_clipboard()
mus3

   Pendidikan  RasaDurian
0     Sarjana         300
1     Sarjana         320
2     Sarjana         324
3     Sarjana         315
4     Sarjana         400
5     Sarjana         420
6     Akademi         398
7     Akademi         375
8     Akademi         364
9     Akademi         325
10    Akademi         410
11    Akademi         425

In [8]:
Sarjana = mus3[mus3['Pendidikan'] == 'Sarjana']
Akademi = mus3[mus3['Pendidikan'] == 'Akademi']
TwoTail = ttest_ind(Sarjana['RasaDurian'], Akademi['RasaDurian'], equal_var=True)
TwoTail

Ttest_indResult(statistic=-1.4386634255316422, pvalue=0.18079935149974058)

In [14]:
#no 4
musss = pd.read_clipboard()
musss

   Sebelum  Sesudah
0    76.85    76.22
1    77.95    77.89
2    78.65    79.02
3    79.25    80.21
4    82.65    82.65
5    88.15    82.53
6    92.54    92.56
7    96.25    92.33
8    84.56    85.12
9    88.25    84.56

In [15]:
rp.ttest(musss['Sebelum'], musss['Sesudah'], paired=True)

C:\Users\A S U S\anaconda3\Lib\site-packages\researchpy\ttest.py:38: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  groups = group1.append(group2, ignore_index= True)
C:\Users\A S U S\anaconda3\Lib\site-packages\researchpy\ttest.py:140: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  groups = group1.append(group2, ignore_index= True)

(  Variable     N    Mean        SD        SE  95% Conf.   Interval
 0  Sebelum  10.0  84.510  6.639312  2.099535  79.760522  89.259478
 1  Sesudah  10.0  83.309  5.582354  1.765295  79.315624  87.302376
 2     diff  10.0   1.201  2.307377  0.729657  -0.449598   2.851598,
                Paired samples t-test  results
 0  Difference (Sebelum - Sesudah) =    1.2010
 1              Degrees of freedom =    9.0000
 2                               t =    1.6460
 3           Two side test p value =    0.1342
 4          Difference < 0 p value =    0.0671
 5          Difference > 0 p value =    0.9329
 6                       Cohen's d =    0.1965
 7                       Hedge's g =    0.1882
 8                  Glass's delta1 =    0.1809
 9                Point-Biserial r =    0.4810)

In [16]:
kemasan1 = np.array([23, 30, 26, 29, 31, 26, 28, 29, 24, 26, 22, 24, 27, 22, 26])
kemasan2 = np.array([26, 26, 29, 28, 30, 31, 32, 27, 22, 25, 24, 26, 29, 28, 23])

tabel = pd.DataFrame({'A'  : kemasan1, 'B' : kemasan2})
tabel

     A   B
0   23  26
1   30  26
2   26  29
3   29  28
4   31  30
5   26  31
6   28  32
7   29  27
8   24  22
9   26  25
10  22  24
11  24  26
12  27  29
13  22  28
14  26  23

In [17]:
rp.ttest(tabel['A'], tabel['B'], paired=True)

C:\Users\A S U S\anaconda3\Lib\site-packages\researchpy\ttest.py:38: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  groups = group1.append(group2, ignore_index= True)
C:\Users\A S U S\anaconda3\Lib\site-packages\researchpy\ttest.py:140: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  groups = group1.append(group2, ignore_index= True)

(  Variable     N       Mean        SD        SE  95% Conf.   Interval
 0        A  15.0  26.200000  2.833473  0.731600  24.630875  27.769125
 1        B  15.0  27.066667  2.890049  0.746207  25.466211  28.667122
 2     diff  15.0  -0.866667  3.067495  0.792024  -2.565389   0.832055,
        Paired samples t-test  results
 0      Difference (A - B) =   -0.8667
 1      Degrees of freedom =   14.0000
 2                       t =   -1.0942
 3   Two side test p value =    0.2923
 4  Difference < 0 p value =    0.1462
 5  Difference > 0 p value =    0.8538
 6               Cohen's d =   -0.3028
 7               Hedge's g =   -0.2947
 8          Glass's delta1 =   -0.3059
 9        Point-Biserial r =   -0.2807)