In [ ]:
pip install bioinfokit

In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats
from statsmodels.formula.api import ols
from bioinfokit.analys import stat

In [2]:
data = pd.read_clipboard()
data

   Pengetahuan    Sikap  Responden
0       Cukup   Positif          1
1       Kurang  Negatif          2
2       Kurang  Positif          3
3         Baik  Negatif          4
4       Kurang  Negatif          5
5       Kurang  Positif          6
6         Baik  Negatif          7
7         Baik  Positif          8
8       Kurang  Positif          9
9       Cukup   Negatif         10
10      Kurang  Positif         11
11      Kurang  Positif         12
12        Baik  Positif         13
13        Baik  Negatif         14
14      Kurang  Positif         15
15        Baik  Negatif         16
16      Kurang  Positif         17
17      Cukup   Negatif         18
18        Baik  Negatif         19
19      Kurang  Positif         20

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd
from scipy import stats
from bioinfokit.analys import stat

In [3]:
ctab = pd.crosstab(data["Pengetahuan"], data["Sikap"])
print(ctab)

Sikap        Negatif  Positif
Pengetahuan
Baik               5        2
Cukup              2        1
Kurang             2        8

In [4]:
#MUS
res = stat()
res.chisq(df=ctab)
print(res.summary)

Chi-squared test for independence

Test              Df    Chi-square    P-value
--------------  ----  ------------  ---------
Pearson            2       5.06975  0.0792718
Log-likelihood     2       5.32264  0.0698558

In [5]:
datamus = pd.read_clipboard()
datamus.head() #mus

  OTS  POC
0  S1    7
1  S1    7
2  S1   15
3  S1   11
4  S1    9

In [6]:
model_observed = ols('POC~ OTS', data=datamus).fit()
tabel_anova = sm.stats.anova_lm(model_observed, typ=2)
print (tabel_anova)
#mus

          sum_sq    df          F        PR(>F)
OTS       568.56   4.0  21.471299  5.266490e-07
Residual  132.40  20.0        NaN           NaN

In [ ]:
#mus
model_observed = ols('Hobi~ Gender', data=datamus).fit()
tabel_anova = sm.stats.anova_lm(model_observed, typ=2)
print (tabel_anova)